layout {

    focus-ring {
        active-color   "#e46783"
        inactive-color "#291419"
        urgent-color   "#cd4866"
    }

    border {
        active-color   "#e46783"
        inactive-color "#291419"
        urgent-color   "#cd4866"
    }

    shadow {
        color "#29141970"
    }

    tab-indicator {
        active-color   "#e46783"
        inactive-color "#8d0c29"
        urgent-color   "#cd4866"
    }

    insert-hint {
        color "#e4678380"
    }
}

recent-windows {
    highlight {
        active-color "#e46783"
        urgent-color "#cd4866"
    }
}
