    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    window-rule {
	background-effect {
		blur true
		xray false
	}
    }

    window-rule {
        match app-id="org.gnome.Nautilus"

        draw-border-with-background false
    }

    layer-rule {
        match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
        background-effect {
         xray false
        }
    }

    blur {
      passes 2        // more passes = stronger blur (default: 3)
      offset 3.0      // sample distance per pass (default: 3.0)
      noise 0.03      // grain overlay (default: 0.02)
      saturation 1.5  // color saturation boost (default: 1.5)
    }
